# JupyterLab
**.ipynb_checkpoints/
**.ipynb

# Python compiled
**.pyc

# Configuration secrets
project/source/config.py

# Migrations
project/migrations

# Database files
project/source/database
