{# INVENTORY #}

{% extends "base.html" %}
{% block content %}

<!--- CONTENT --->
<div class="jumbotron" style="padding-top: 1rem;">

	<div class="card">
		<div class="card-header">Inventory</div>
		<div class="card-body">
			<ul class="list-group list-group-flush">
				{% for book in books %}
				<li class="list-group-item"><a href="{{ url_for('book') }}?isbn={{ book.isbn }}">{{ book.title }} - {{ book.author }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div id="sparkline8" class="sparkchart"></div>
	</div>

</div>


{% endblock %}
